---
import Layout from "../layouts/Layout.astro";
import SkillCard from "../components/SkillCard.astro";
import experienceData from "../data/experienceData.json";
import educationData from "../data/educationData.json";
import Projects from "../components/Projects";
import Accordion from "../components/Accordion";
import portrait from "../assets/images/bodyshot.png";
---

<Layout navigation={true} title="Timur Muedinov | Developer, Videographer">
  <main>
    <section class="landing-section">
      <div class="iframe-container">
        <iframe
          frameborder="0"
          src="https://player.vimeo.com/video/851520076?autoplay=1&loop=1&title=0&background=1"
          class="background-vimeo"
          allow="autoplay;"></iframe>
      </div>
      <div class="main-heading">
        <h1>
          Blending <span class="text-gradient">Creative Vision</span> and
          <span class="text-gradient2">problem solving</span>
        </h1>
        <button class="btn hoverable"><a href="#about">LET'S MEET!</a></button>
      </div>
      <div class="gradient-overlay"></div>
    </section>

    <div class="sections">
      <section class="about">
        <div class="about-section">
          <div class="about-text">
            <h2 id="about">Hello there!</h2>
            <p>
              I am a highly motivated individual with a passion for writing
              clean code and a keen attention to detail. My insatiable curiosity
              and fast learning abilities allow me to adapt quickly to new
              technologies and stay ahead in the ever-evolving world of
              programming.
            </p>
            <p>
              My creativity shines through in my approach to problem-solving,
              enabling me to come up with innovative solutions to complex
              challenges.
            </p>
            <p>
              I take great pride in my ability to produce high-quality,
              efficient, and maintainable code that not only meets but exceeds
              expectations.
            </p>
            <button class="btn about-btn hoverable"
              ><a href="#contact">GET IN TOUCH!</a></button
            >
          </div>
          <img class="portrait-img" src={portrait} alt="portrait" />
        </div>
      </section>
      <section class="skills">
        <h2 id="skills" class="skills-heading">The Stack</h2>
        <SkillCard />
      </section>
      <Projects client:load />
      <section>
        <h2 id="experience">Experience</h2>
        <div class="accordion">
          <span class="hoverable">
            <Accordion data={experienceData} client:load />
          </span>
        </div>
      </section>
      <section>
        <h2 id="education">Education</h2>
        <div class="accordion">
          <span class="hoverable">
            <Accordion data={educationData} client:load />
          </span>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    padding-top: 56.25%;
  }

  /* Style for the iframe itself */
  .background-vimeo {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .portrait-img {
    flex: 1 1 200px;
    mix-blend-mode: add;
    max-width: 30rem;
  }
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-text {
    max-width: 60rem;
  }

  .accordion {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer {
    padding: 3rem 5rem;
  }
  #background-video {
    position: absolute;
    width: 100%;
    height: auto;
  }
  .sections {
    margin: auto;
    max-width: 90rem;
  }
  .skills {
    padding: 3rem 5rem;
  }
  .skills-heading {
    position: relative;
  }

  .landing-section {
    margin-top: -8rem;
    overflow: hidden;
    z-index: 3;
    width: 100vw;
    background-size: cover;
    position: relative;
    font-family: "Lora", serif;
    height: 100vh;
  }
  .gradient-overlay {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05) 0%,
      var(--color-bg) 100%
    );
  }

  .main-heading {
    z-index: 20;
    position: absolute;
    bottom: 6rem;
    left: 10rem;
    /* mix-blend-mode: color-dodge; */
  }

  h1 {
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    line-height: 4rem;
    margin: 0;
    width: 25ch;
  }
  h1::after {
    content: "";
    width: 4rem;
    height: 5px;
    background: rgb(0, 166, 255);
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 0;
    animation: cursor-blink 1.5s steps(2) infinite;
  }

  .text-gradient {
    /* font-family: "Comic Sans MS"; */
    font-weight: 400;
    color: rgb(255, 255, 111);
    text-align: center;
  }
  .text-gradient2 {
    mix-blend-mode: difference;
    color: rgba(0, 102, 255, 0.797);
    font-family: "Source Code Pro", monospace;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .iframe-container {
      padding-top: 0;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      width: 1920px;
      height: 100%;
    }

    /* Style for the iframe itself */
    .background-vimeo {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .main-heading {
      left: 1rem;
      bottom: 1rem;
    }
    h1 {
      font-size: 2rem;
      overflow: hidden;
    }
  }
</style>
