---
import {
  SiInstagram,
  SiMessenger,
  SiGithub,
  SiGmail,
  SiLinkedin,
} from "react-icons/si";
---

<footer>
  <h2>Let's work together!</h2>
  <ul>
    <li>
      <a class="hoverable" href="mailto:mtim6921@gmail.com"
        ><SiGmail /> mtim6921@gmail.com</a
      >
    </li>
    <li>
      <a class="hoverable" target="_blank" href="https://m.me/timur.muedinov.9"
        ><SiMessenger /> Messenger</a
      >
    </li>
    <li>
      <a
        class="hoverable"
        target="_blank"
        href="https://www.linkedin.com/in/timur-muedinov-4a8990152/"
        ><SiLinkedin /> LinkedIn</a
      >
    </li>
    <li>
      <a class="hoverable" target="_blank" href="https://m.me/timur.muedinov.9"
        ><SiInstagram /> Instagram</a
      >
    </li>
    <li>
      <a class="hoverable" target="_blank" href="https://m.me/timur.muedinov.9"
        ><SiGithub /> GitHub</a
      >
    </li>
  </ul>
</footer>
