---
import { Icon } from "astro-icon";
---

<footer id="contact">
  <h2>Let's work together!</h2>
  <ul>
    <li>
      <a class="hoverable" href="mailto:mtim6921@gmail.com"
        ><Icon name="gmail" class="icon" /> mtim6921@gmail.com</a
      >
    </li>
    <li>
      <a class="hoverable" target="_blank" href="https://m.me/timur.muedinov.9"
        ><Icon name="facebookmessenger" class="icon" /> Messenger</a
      >
    </li>
    <li>
      <a
        class="hoverable"
        target="_blank"
        href="https://www.linkedin.com/in/timur-muedinov-4a8990152/"
        ><Icon name="linkedin" class="icon" /> LinkedIn</a
      >
    </li>
    <li>
      <a class="hoverable" target="_blank" href="https://m.me/timur.muedinov.9"
        ><Icon name="instagram" class="icon" /> Instagram</a
      >
    </li>
    <li>
      <a class="hoverable" target="_blank" href="https://m.me/timur.muedinov.9"
        ><Icon name="github" class="icon" />GitHub</a
      >
    </li>
    <li>
      <a
        class="hoverable"
        target="_blank"
        href="https://www.youtube.com/channel/UConQOmFJoqkLsz7pBqtapIw"
        ><Icon name="youtube" class="icon" />YouTube</a
      >
    </li>
  </ul>
  <ul class="nav-links">
    <li><a class="hoverable" href="#about">About</a></li>
    <li><a class="hoverable" href="#skills">Stack</a></li>
    <li><a class="hoverable" href="#projects">projects</a></li>
    <li><a class="hoverable" href="#experience">experience</a></li>
    <li><a class="hoverable" href="#education">education</a></li>
  </ul>
</footer>
<style>
  .icon {
    max-width: 2rem;
    display: inline;
    margin-right: 0.5rem;
  }
  a {
    display: inline;
  }
  h2 {
    text-align: start !important;
  }
  ul {
    margin-top: 2rem;
    padding: 0;
  }
  li {
    display: inline;
  }

  li:not(:last-child) {
    margin-right: 2rem;
  }
  footer {
    width: 80%;
    margin: auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
    padding: 2rem 10rem;
  }
  .nav-links {
    display: flex;
    text-transform: capitalize;
  }
  .nav-links li a {
    opacity: 0.5;
  }
  .nav-links li:not(:last-child) {
    margin-right: 2rem;
  }
</style>
