---
// export interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;
---

<nav class="nav">
  <span class="nav-logo">timur muedinov</span>
  <ul>
    <li>video</li>
    <li>photography</li>
    <li>coding</li>
    <li>|</li>
    <li>skills</li>
    <li>about</li>
  </ul>
  <button> contact</button>
</nav>

<style>
  .nav {
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.05),
      0 2px 2px hsl(0deg 0% 0% / 0.05), 0 4px 4px hsl(0deg 0% 0% / 0.05),
      0 8px 8px hsl(0deg 0% 0% / 0.05), 0 16px 16px hsl(0deg 0% 0% / 0.05);
  }
  .ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    text-transform: capitalize;
    display: inline-block;
  }
  li:not(:last-child) {
    margin-right: 1rem;
  }
  .nav-logo {
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  button {
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    border: none;
    padding: 1rem;
    background-color: #010101;
  }
</style>
